.collection {
  display: flex;
  padding: 2rem 8rem;
}
.filter {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: #fff;
  font-family: "Abril Fatface";
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter-box {
  transition: opacity 0.3s ease;
}

.filter-box.hidden {
  display: block;
  opacity: 1;
}
.categories {
  color: #4b0055;
  font-family: "Abril Fatface";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  margin: 1rem;
}
.categories-sub {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.categories-sub-sub {
  display: flex;
  gap: 0.5rem;
}
.checkbox-text {
  color: #4b0055;
  font-family: "Abril Fatface";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Types {
  margin-top: 3rem;
}
.filter-img {
  font-size: 2.5rem;
  display: none;
  cursor: pointer;
}
.Sorting-div {
  background-color: #fff;
  padding: 1rem;
}
label,
select {
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Montserrat", "sans-serif";
  background-color: none;
  border: none;
  text-decoration: none;
  color: #4b0055;
  text-decoration-line: none;
}

.right-collection {
  gap: 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
}

.collection-products {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 4fr);
}
option {
  border: none;
  border-color: none;
  outline: none;
  color: #4b0055;
}
/* for searchbar section */
.search-bar {
  padding: 1rem 8rem;
  margin: 0 8rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #680f74;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.search-bar-sub {
  width: 50rem;
  border-radius: 3rem;
  display: inline-flex;
  justify-items: center;
  background-color: #fff;
  border: none;

  border: 1px solid #4b0055;
}
::placeholder {
  border: none;
  outline: none;
  float: left;
  color: #4b0055;
  font-style: italic;
}
input {
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 3rem;
  border: none;
  color: #4b0055;
}
.search-input {
  outline: none;
  flex: 1;
}
.cancel-img {
  display: inline;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  color: #4b0055;
  cursor: pointer;
  margin-left: 1rem;
  background-color: #fff;
  padding: 0.5rem;
}
.search-img {
  margin-top: 0.6rem;
  width: 4rem;
  height: 2rem;
  color: #4b0055;
  cursor: pointer;
}
.not-found {
  font-size: 1.5rem;
  color: #fff;
}
.loader {
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem 0;
  color: #fff;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .filter-box.hidden {
    display: none;
  }
  .filter-img {
    display: block;
  }
  .collection {
    justify-content: center;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
  }
  .collection-products {
    display: grid;
    gap: 2rem;
    padding: 2rem 4rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .right-collection {
    gap: 0;
    display: flex;
    justify-content: space-between;
  }
  .search-bar {
    margin: 0 4rem;
  }
  .search-bar-sub {
    width: 40rem;
    height: 3.5rem;
  }
}
@media (max-width: 500px) {
  .search-bar-sub {
    width: 25rem;
  }
  .search-bar {
    gap: 0;
    padding: 1rem;
  }
  .cancel-img {
    gap: 0;

    width: 5rem;
  }
  .filter-box.hidden {
    display: none;
  }
  .filter-img {
    display: block;
  }
  .collection {
    justify-content: center;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
  }
  .collection-products {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 2fr);
  }
  .right-collection {
    padding: 1rem 2rem;
    gap: 0;
    flex-direction: column;
  }

  .collection-products {
    align-items: center;
    justify-content: center;
  }
  .filter {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  select {
    font-size: 1.5rem;
    margin: 0;
  }
}
