.newarrival {
  z-index: 1000;
  margin-bottom: 5rem;
}

.render-product {
  display: grid;
  grid-template-columns: repeat(4fr, 4fr);
  gap: 2rem;
}
.link-product {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.link-product-sub {
  overflow: hidden;
}
.link-image:hover {
  transition: ease-in-out;
}

/* for productitem display */
.render-product {
  padding: 2rem 8rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  gap: 1rem;
  justify-items: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}
.link-image {
  width: 184px;
  object-fit: contain;
  height: 192px;
  background-color: #fff;
  padding: 1rem;
}
.link-image:hover {
  transform: scale(1.05);
  transition: transform 0.5s ease-in-out;
}

/* Set the container dimensions */
.link-product-sub {
  width: 184px;
  overflow: hidden;
  display: flex;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  flex-direction: column;
  justify-content: center;
}
.Total-link-product-sub .item-details {
  background-color: rgba(246, 237, 237, 0.16);
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  font-size: 1.4rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  margin-bottom: 2rem;
}

.Total-link-product-sub button {
  font-family: "Abril Fatface";
  font-size: 1.5rem;

  font-weight: 100;
  line-height: normal;
  width: 6rem;
  height: 3rem;
  border-radius: 40px;
  background: #4b0055;
  color: #fff;

  border: none;

  cursor: pointer;
}
.Total-link-product-sub button:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color: #4b0055;
}
.Total-link-product-sub p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.Total-link-product-sub p span {
  font-size: 1.3rem;
  line-height: 2;
}
@media (max-width: 1200px) {
  .render-product {
    grid-template-columns: repeat(
      4,
      1fr
    ); /* Adjust to 4 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .render-product {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Adjust to 2 columns for smaller screens */
  }
}

@media (max-width: 480px) {
  .render-product {
    padding: 2rem 4rem;

    grid-template-columns: repeat(2, 1fr);
  }
  .link-image {
    width: 15rem;
    padding: 2rem;
  }
  .link-product-sub {
    width: 15rem;
  }
  .title-text {
    font-size: 2rem;
  }
  .title-text-sub {
    font-size: 1rem;
  }
}
