.order {
  padding: 2rem 8rem;
  display: flex;
  flex-direction: column;
}
/* .order-item p {
  align-items: center;
} */
.order-item {
  display: flex;
  align-items: center;
  gap: 0;
  margin-bottom: 1rem;
}
.order-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  gap: 1rem;
}
.order-details p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.green-dot {
  width: 10px;
  height: 10px;
  background-color: green; /* Green color */
  border-radius: 50%; /* Make it a circle */
  display: inline-block; /* Inline with text */
  margin-right: 8px; /* Space between dot and text */
  vertical-align: middle; /* Align with text */
}
.order-track {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.order-track p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
.order-status {
  display: flex;
  align-items: center;
}
.order-image-details {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
}
.order-total-package {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex: 1;
}
.track-btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #4b0055;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .order-total-package {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .order-track {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .order {
    padding: 2rem 4rem;
  }
}
