.place-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 10rem;
}
.place-order-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sub-place-info {
  display: flex;
  justify-content: flex-start;
}
.name-section {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.total-input-cont {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 2rem;
}
.input-info {
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  border: none;
  width: 100%;
  outline: #4b0055;
}
.input-info::placeholder {
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.payment-method {
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
@media (max-width: 768px) {
  .place-order {
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 10rem;
  }
}
@media (max-width: 500px) {
  .place-order {
    gap: 1rem;
    padding: 2rem 4rem;
    justify-content: center;
  }
  .name-section {
    display: flex;
    flex-direction: column;
  }
  .total-input-cont {
    width: 100%;
  }
  .input-info {
    width: 100%;
  }
}
