.product-display {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  transition-duration: 0.5s ease-in;
  opacity: 100;
}
.product-display-sub {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.product-display-sub2 {
  flex: 1;
  flex-direction: column-reverse;
  gap: 3rem;
}
.product-display-sub3 {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  overflow-y: scroll;
  justify-content: space-between;
  width: 30rem;
}
