@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* font-family: "Montserrat", sans-serif;
font-family: "Abril Fatface", serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/background.png"); /* Set the background image */
  background-size: cover; /* Make sure the image covers the whole page */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  height: 100vh; /* Set height to 100% of the viewport */
  margin: 0;
  overflow: hidden;
}
html {
  font-size: 10px;
}
